<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3PjzRxJj8rJEGG39WreQNSEuuPYFUKow</string>
	<key>GCM_SENDER_ID</key>
	<string>616114647494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyecareMobile</string>
	<key>PROJECT_ID</key>
	<string>eye-care-9a730</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-care-9a730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616114647494:ios:bea39f01b78513a4f882c7</string>
</dict>
</plist>